<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      href="/public/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/bootstrap_css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Acme|PT+Sans:400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="/bootstrap_icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/scss/styles_404.css" />
    <title>Prueba Club Deportivo</title>
  </head>
  <body>
    {{{body}}}
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap_js/bootstrap.bundle.min.js"></script>
    <script src="/axios/axios.min.js"></script>
    <script src="/public/js/crear_script.js"></script>
  </body>
</html>