<main>
  <section class="container">
    <h1 class="my-5 text-decoration-underline">CRUD Prueba Club Deportivo</h1>
    <article class="mb-5 border border-dark p-3">
      <h2>CREAR DEPORTE</h2>
      <p>1. Crear una ruta que reciba el nombre y precio de un nuevo deporte, lo
        persista en un archivo JSON (3 Puntos).</p>
      <button type="button " class="btn btn-primary d-block mx-auto"><a
          href="/crear"
        ><i class="bi bi-plus-circle-fill"></i> Crear</a></button>
    </article>
    <article class="mb-5 border border-dark p-3 bg-light">
      <h2>LEER DEPORTES</h2>
      <p>2. Crear una ruta que al consultarse devuelva en formato JSON todos los
        deportes registrados (2 Puntos).</p>
      <button type="button " class="btn btn-success d-block mx-auto"><a
          href="/leer"
        ><i class="bi bi-table"></i> Leer</a></button>
    </article>
    <article class="mb-5 border border-dark p-3">
      <h2>MODIFICAR DEPORTE</h2>
      <p>3. Crear una ruta que edite el precio de un deporte registrado
        utilizando los parámetros de la consulta y persista este cambio (2
        Puntos).</p>
      <button type="button " class="btn btn-dark d-block mx-auto"><a
          href="/editar"
        ><i class="bi bi-pencil-fill"></i> Modificar</a></button>
    </article>
    <article class="mb-5 border border-dark p-3 bg-light">
      <h2>ELIMINAR DEPORTE</h2>
      <p>4. Crear una ruta que elimine un deporte solicitado desde el cliente y
        persista este cambio (3 Puntos).</p>
      <button type="button " class="btn btn-secondary d-block mx-auto"><a
          href="/eliminar"
        ><i class="bi bi-trash-fill"></i> Eliminar</a></button>
    </article>
  </section>
</main>